services:
  network-deploy-service:
    networks:
      - bindconnect

  microservice-base-config:
    extends:
      service: network-deploy-service
    deploy:
      resources:
        limits:
          memory: 700m
    environment:
      SPRING_RABBITMQ_HOST: "rabbit"

  microservice-configserver-config:
    extends:
      service: microservice-base-config
    environment:
      SPRING_PROFILES_ACTIVE: default
      #SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/  # just because we didn't setup config server for document-service yet