services:
  rabbit:
    image: rabbitmq:4-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbit_data:/var/lib/rabbitmq   # ✅ important

    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 7s
      retries: 10
      start_period: 5s
    extends:
      file: common-config.yml
      service: network-deploy-service

  configserver:
    image: "jsalahddine/configserver:v1"
    container_name: configserver-ms
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    extends:
      file: common-config.yml
      service: microservice-base-config

  tender-service:
    image: "jsalahddine/tenderservice:v1"
    container_name: tender-ms
    ports:
      - "8080:8080"
    depends_on:
      configserver:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "tender-service"
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      SERVICES_DOCUMENT_BASE_URL: "http://document-service:8081"
      SERVICES_AI_BASE_URL: "http://ai-service:8085"
    extends:
      file: common-config.yml
      service: microservice-configserver-config


  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    extends:
      file: common-config.yml
      service: network-deploy-service

  document-service:
    image: "jsalahddine/documentservice:v1"
    container_name: document-ms
    ports:
      - "8081:8081"
    depends_on:
      minio:
        condition: service_started
      #configserver:                      pour le moment on a pas encore centralisé la config de document-service
      #  condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "DOCUMENT-SERVICE"
      MINIO_URL: "http://minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      MINIO_BUCKET: "documents"
    extends:
      file: common-config.yml
      service: microservice-configserver-config


  qdrant:
    image: qdrant/qdrant:v1.9.0
    restart: always
    ports:
      - "6333:6333"  # HTTP REST API
      - "6334:6334"  # gRPC
    volumes:
      - qdrant_storage:/qdrant/storage
    extends:
      file: common-config.yml
      service: network-deploy-service

  ai-db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ai_user
      POSTGRES_PASSWORD: ai_password
      POSTGRES_DB: ai_db
    ports:
      - "5433:5432" # 5433 to avoid conflict with default local pg
    volumes:
      - ai_pg_data:/var/lib/postgresql/data
    extends:
      file: common-config.yml
      service: network-deploy-service


  ai-service:
    image: "jsalahddine/aiservice:v1"
    container_name: ai-ms
    ports:
      - "8085:8085"
    depends_on:
      ai-db:
        condition: service_started
      qdrant:
        condition: service_started
    environment:
      SPRING_APPLICATION_NAME: "AI-SERVICE"

      # Database connection inside Docker network
      SPRING_DATASOURCE_URL: jdbc:postgresql://ai-db:5432/ai_db
      SPRING_DATASOURCE_USERNAME: ai_user
      SPRING_DATASOURCE_PASSWORD: ai_password

      # Qdrant connection
      LANGCHAIN4J_QDRANT_HOST: qdrant
      LANGCHAIN4J_QDRANT_PORT: 6334

      # OpenAI key (do NOT hardcode)
      OPENAI_API_KEY: ${OPENAI_API_KEY}

    extends:
      file: common-config.yml
      service: microservice-configserver-config



networks:
  bindconnect:
    driver: "bridge"

volumes:
    minio_data:
    qdrant_storage:
    ai_pg_data:
    rabbit_data: