services:
  rabbit:
    image: rabbitmq:4-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbit_data:/var/lib/rabbitmq   # ✅ important

    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 7s
      retries: 10
      start_period: 5s
    extends:
      file: common-config.yml
      service: network-deploy-service

  configserver:
    image: "jsalahddine/configserver:v1"
    container_name: configserver-ms
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    extends:
      file: common-config.yml
      service: microservice-base-config

  eurekaserver:
    image: "jsalahddine/eurekaserver:v1"
    container_name: eurekaserver-ms
    ports:
      - "8070:8070"
    depends_on:
      configserver:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8070/actuator/health/readiness | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    extends:
      file: common-config.yml
      service: microservice-configserver-config
    environment:
      SPRING_APPLICATION_NAME: "eurekaserver"
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      #OTEL_SERVICE_NAME: "eurekaserver"

  gatewayserver:
    image: "jsalahddine/gatewayserver:v1"
    container_name: gatewayserver-ms
    ports:
      - "8072:8072"
    depends_on:
      tender-service:
        condition: service_healthy
      document-service:
        condition: service_healthy
      ai-service:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "gatewayserver"
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      #OTEL_SERVICE_NAME: "gatewayserver"
      #SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK-SET-URI: "http://keycloak:8080/realms/master/protocol/openid-connect/certs"
    extends:
      file: common-config.yml
      service: microservice-eureka-config



  tender-service:
    image: "jsalahddine/tenderservice:v1"
    container_name: tender-ms
    ports:
      - "8080:8080"
    depends_on:
      configserver:
        condition: service_healthy
      eurekaserver:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8080/actuator/health/readiness | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    environment:
      SPRING_APPLICATION_NAME: "tender-service"
      SPRING_CONFIG_IMPORT: configserver:http://configserver:8071/
      SERVICES_DOCUMENT_BASE_URL: "http://document-service:8081"
      SERVICES_AI_BASE_URL: "http://ai-service:8085"
    extends:
      file: common-config.yml
      service: microservice-eureka-config


  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    extends:
      file: common-config.yml
      service: network-deploy-service

  document-service:
    image: "jsalahddine/documentservice:v1"
    container_name: document-ms
    ports:
      - "8081:8081"
    depends_on:
      minio:
        condition: service_started
      #configserver:                      pour le moment on a pas encore centralisé la config de document-service
      #  condition: service_healthy
      eurekaserver:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8081/actuator/health/readiness | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    environment:
      SPRING_APPLICATION_NAME: "DOCUMENT-SERVICE"
      MINIO_URL: "http://minio:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      MINIO_BUCKET: "documents"
    extends:
      file: common-config.yml
      service: microservice-eureka-config


  qdrant:
    image: qdrant/qdrant:v1.9.0
    restart: always
    ports:
      - "6333:6333"  # HTTP REST API
      - "6334:6334"  # gRPC
    volumes:
      - qdrant_storage:/qdrant/storage
    extends:
      file: common-config.yml
      service: network-deploy-service

  ai-db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ai_user
      POSTGRES_PASSWORD: ai_password
      POSTGRES_DB: ai_db
    ports:
      - "5433:5432" # 5433 to avoid conflict with default local pg
    volumes:
      - ai_pg_data:/var/lib/postgresql/data
    extends:
      file: common-config.yml
      service: network-deploy-service


  ai-service:
    image: "jsalahddine/aiservice:v1"
    container_name: ai-ms
    ports:
      - "8085:8085"
    depends_on:
      ai-db:
        condition: service_started
      qdrant:
        condition: service_started
      eurekaserver:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8085/actuator/health/readiness | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    environment:
      SPRING_APPLICATION_NAME: "AI-SERVICE"

      # Database connection inside Docker network
      SPRING_DATASOURCE_URL: jdbc:postgresql://ai-db:5432/ai_db
      SPRING_DATASOURCE_USERNAME: ai_user
      SPRING_DATASOURCE_PASSWORD: ai_password

      # Qdrant connection
      LANGCHAIN4J_QDRANT_HOST: qdrant
      LANGCHAIN4J_QDRANT_PORT: 6334

      # OpenAI key (do NOT hardcode)
      OPENAI_API_KEY: ${OPENAI_API_KEY}

    extends:
      file: common-config.yml
      service: microservice-eureka-config


  soumission-service:
    image: "jsalahddine/soumissionservice:v1"
    container_name: soumission-ms
    ports:
      - "8084:8084"
    depends_on:
      #configserver:
      #  condition: service_healthy
      eurekaserver:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8084/actuator/health/readiness | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 20
      start_period: 10s
    environment:
      SPRING_APPLICATION_NAME: "SOUMISSION-SERVICE"
      SERVICES_DOCUMENT_BASE_URL: "http://document-service:8081"
      SERVICES_AI_BASE_URL: "http://ai-service:8085"
      SERVICES_TENDER_BASE_URL: "http://tender-service:8080"
    extends:
      file: common-config.yml
      service: microservice-eureka-config

  user-service:
    image: "jsalahddine/userservice:v1"
    container_name: user-ms
    ports:
      - "8083:8083"
    depends_on:
      eurekaserver:
        condition: service_healthy
      keycloak:
        condition: service_started
    environment:
      SPRING_APPLICATION_NAME: "USER-SERVICE"
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: "http://host.docker.internal:8086/realms/bindconnect"
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: "http://host.docker.internal:8086/realms/bindconnect/protocol/openid-connect/certs"
    extends:
      file: common-config.yml
      service: microservice-eureka-config

  #--------------------------------
  keycloak-db:
    image: postgres:15-alpine
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloakpass
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    extends:
      file: common-config.yml
      service: network-deploy-service

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: keycloak
    depends_on:
      - keycloak-db
    ports:
      - "8086:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloakpass

      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"

      # IMPORTANT: fixe l'URL publique (issuer)
      KC_HOSTNAME: host.docker.internal
      KC_HOSTNAME_PORT: "8086"
    command: start-dev
    extends:
      file: common-config.yml
      service: network-deploy-service


networks:
  bindconnect:
    driver: "bridge"

volumes:
    minio_data:
    qdrant_storage:
    ai_pg_data:
    rabbit_data:
    keycloak_db_data: